---
// src/components/Skills.astro

const skillCategories = [
  {
    title: "Languages",
    skills: ["C#", "VB.NET", "C++", "Rust", "Go", "JavaScript / TypeScript"]
  },
  {
    title: "Frameworks & Libraries",
    skills: [".NET", "Entity Framework Core", "Next.js", "Astro", "React"]
  },
  {
    title: "Databases",
    skills: ["SQL Server", "MySQL", "MongoDB"]
  },
  {
    title: "Tools & Platforms",
    skills: ["Git", "Docker", "Azure", "Cloudflare"]
  }
];
---

<div class="skills-container">
  {skillCategories.map(category => (
    <div class="skill-category">
      <h3>{category.title}</h3>
      <div class="skills-list">
        {category.skills.map(skill => (
          <code>{skill}</code>
        ))}
      </div>
    </div>
  ))}
</div>

<style>
  .skills-container {
    
  }

  .skill-category {
    margin-bottom: 2.5em;
  }
  .skill-category:last-child {
    margin-bottom: 0;
  }

  h3 {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0.8em;
    color: var(--text-primary);
    font-weight: 600;
  }

  .skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  .skills-list code {
		display: inline-block;
		background: rgba(188, 82, 238, 0.1);
		border-radius: 4px;
		border: 1px solid rgba(188, 82, 238, 0.2);
		padding: 3px 6px;
		font-size: 0.9em;
		font-family: 'Roboto Mono', monospace;
		color: #8a3db8;
		margin: 3px 3px 3px 0;
  }
</style>